<%= render 'layouts/mainmenu' %>
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-12">
        <h1>Записаться на экскурсию</h1>
        <%= render 'form' %>
        <% if logged_in? %>
          <%= link_to 'К списку записей на экскурсию', tour_orders_path %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-6">
    </div>
  </div>
</div>

